{% extends "pyramid_sacrud:templates/sacrud/base.jinja2" %}

{% block body %}

<ul>
    <li><a href="{{ '/api/query/10?sport_type=4' }}">{{ '10. Получить список тренеров по определенному виду спорта.' }}</a></li>
    <li><a href="{{ '/api/query/12?date_start=2013-01-01&date_end=2016-01-01' }}">{{ '12. Получить список организаторов соревнований и число проведенных ими соревнований в течение определенного периода времени' }}</a></li>
</ul>

{% endblock %}
